<% include ../partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To YelpCamp!</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
             </p>
         </div>
     </header>
     
     <div id="gallery" class="row text-center">
        <% if (campgrounds.length == 0) { %>
            <h3 style="margin: auto;">No matched campgrounds, please try again.</h3>
        <% } %>
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= campground.image %>">
                   <div class="caption">
                        <h4><%= campground.name %></h4>
                        <p>
                            <i class="fas fa-map-marker-alt"></i>
                            <% if (campground.location.length <= 10) { %>
                                 <%= campground.location %>
                            <% } else { %>
                                 <%= campground.location.substr(0,10) %>...
                            <% } %>
                        </p>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>