<% include ../partials/header %>
<div class="container">
    <div class="row">
		<div class="col-md-4">
			<div class="rating-container">
				<h3><%= campground.name %> rating</h3>
				<div class="rating-inner-container">
					<% if (campground.comments.length == 0) { %>
						<p>
							No rating yet, leave a comment? <a href="/campgrounds/<%= campground._id %>/comments/new">Click Here</a>
						</p>
					<% }else { %>
						<div class="rating-score">
							<%= (campground.totalRating / campground.comments.length).toFixed(1) %>
						</div>
						<div class="rating-stars"></div>
					<% } %>
				</div>
			</div>
			<div id="allmap"></div>
		</div>
		<div class="col-md-8">
			<div class="thumbnail">
			    <img class="img-responsive" src="<%= campground.image %>">
			    <div class="caption">
			        <div class="name-container">
      			        <span class="pull-right">
      			        	<% if(campground.price && campground.price != '0') { %>
      			        		$<%= campground.price %>/night
      			        	<% } else { %>
      			        		Free of Charge
      			        	<% } %>
  			        	</span>
			            <span><%= campground.name %></span>  
			        </div>
			        <p><%= campground.description %></p>
			        <p>
			        	<em>Submitted by <%= campground.author.username %>, <%= moment(campground.created).fromNow() %></em>
		        	</p>
		        	<% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
			        	<a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
			        	<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
			        		<button class="btn btn-danger">Delete</button>
			        	</form>
		        	<% } %>
			    </div>
			</div>
			<div class="well">
			    <div class="text-right pull-right">
			        <button class="btn btn-success" data-toggle="collapse" data-target="#new-comment-form" aria-expanded="false">
			        	<i class="fas fa-plus"></i> Add New Comment
		        	</button>
			    </div>
			    <h3><i class="fas fa-comments"></i> <b>Comments</b></h3>
			    <div class="collapse" id="new-comment-form">
			    	<div class="container-fluid">
	    			<% if(!currentUser) { %>
    					<p style="margin: 0;">Login to leave a comment. <a href="/login">Login</a></p>
        			<% } else { %>
        				<h5><i class="fas fa-edit"></i><b> Add New Comment to <%= campground.name %><b></h5>
			            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
			                <div class="form-group">
			                    <div class="input-group">
			                        <div class="input-group-addon">Rating:</div>
			                        <select class="form-control" name="comment[rating]" required>
			                            <option>0</option>
			                            <option>1</option>
			                            <option>2</option>
			                            <option>3</option>
			                            <option>4</option>
			                            <option>5</option>
			                            <option>6</option>
			                            <option>7</option>
			                            <option>8</option>
			                            <option>9</option>
			                            <option>10</option>
			                        </select>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <textarea class="form-control" type="text" name="comment[text]" placeholder="Leave your comment here..." rows="3" required></textarea>
			                </div>
			                <div class="form-group">
			                    <button class="btn btn-lg btn-success">Comment</button>
			                </div>
		            	</form>
        			<% } %>
        			</div>
			    </div>
			    <hr />
			    <% campground.comments.forEach(function(comment){ %>
                    <div class="row comment-item">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.created).fromNow() %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
	                            <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
	                            	Edit
	                            </a>
	                            <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
	                            	<button class="btn btn-xs btn-danger">Delete</button>
	                            </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
			</div>
		</div>
    </div>
</div>
<script type="text/javascript">
	// rating stars display
	if ("<%= campground.comments.length %>" != 0) {
		let scoreInt = parseInt(document.querySelector(".rating-score").innerText);
		let offSet = -(10 - scoreInt) * 30;
		document.querySelector(".rating-stars").style.backgroundPosition = "0 " + offSet + "px";
		let colorArr = ["#ed2f2f", "#d86100", "#b28500", "#7e9f00", "#1fb31f", "#1fb31f"];
		document.querySelector(".rating-score").style.borderColor = colorArr[parseInt(scoreInt / 2)];	
	}
	// Baidu map func
	try {
		var map = new BMap.Map("allmap");
	} catch (e) {
		window.location.reload();
	};
	map.enableScrollWheelZoom();
	var myGeo = new BMap.Geocoder();
	myGeo.getPoint("<%= campground.location %>", function(point){
		if (point) {
			map.centerAndZoom(point, 16);
			var myIcon = new BMap.Icon("/static/basketball.png", new BMap.Size(30,30), {imageSize: new BMap.Size(30,30)});
			map.addOverlay(new BMap.Marker(point, {icon:myIcon}));
		}else{
			console.log("Invalid Location");
		}
	}, "全国");
</script>
<% include ../partials/footer %>